<%= render partial:'layouts/orga/jumbotron' %>
<br>
<%= render partial:'layouts/orga/calltoaction' %>
<br>
<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<h1>Les Projets du moment</h1>
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
  <div class="card-group">
	<% @project.each do |project|%>
	<% @project = project %>
	<%= render partial:'layouts/orga/feature1' %>
	<% end %>
	</div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<%= render partial:'layouts/orga/footer' %>
