
<h1> Ceci est la page design </h1>

<h2> Organisms </h2>

<%= render partial:'layouts/orga/footer' %> <br/>
<%= render partial:'layouts/orga/jumbotron' %> <br/>
<%= render partial:'layouts/orga/navbar' %> <br/>



<h2> Molécules </h2>




<h2> Atomes </h2>


