
<% title = "Sculpture en Hommage à Saint-Vidian" %>
<% title = "Titre !"%>
<% title = "Titre !"%>
<% title = "Titre !"%>
<% title = "Titre !"%>
<% title = "Titre !"%>

<div class="card" >
  <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">
  <div class="card-body bg-primary">
    <h4 class="card-title"><%= title %></h4>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:  in_progress_percentages? %;" aria-valuenow=" in_progress_percentages? " aria-valuemin="0" aria-valuemax="100"> in_progress_percentages? %
    </div>
  </div>
  <div class="card-footer ">
    <a> in_progress_statut? </a>
  </div>
</div> <br/>

