

<div class="container-fluid">
  <div class="container">
    <div class="row">

      <%organizations.each do |organization|%>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">
                <img  src= <%= organization.logo_url %> <% link_to "voir" , organization_path(organization.id) %> class="card-img-top" alt="...">
              </li>
              <li class="list-group-item">
                <%= link_to "voir" , organization_path(organization.id), class:"btn btn-primary btn-block" %>
              </li>
            </ul>
          </div>
        </div>
        <br/>
      <%end%>
    </div>
  </div>
<div>

