<div class="card">
	<ul class="list-group list-group-flush">
		<li class="list-group-item text-justify">
			<p>Ajouter un lien:</p>
			<%= form_tag organization_links_path(organization_id: organization.id), method: :post, remote: true  do %>
			<input type="text" name="url_organization" placeholder="URL à ajouter" />
			<br/><br/>
			<input type="text" name="url_name" placeholder="Nom du lien à afficher" />
			<br/><br/>
			<input type="submit" value="Ajouter le lien" class="btn btn-primary btn-sm" />
			<% end %>
		</li>
	</ul>
</div>