

<h3> Projet financé à : </h3>
<h2> <%= @project.in_progress_percentages? %> % </h2> 
<p> sur un objectif de <%= @project.donation_targeted %> € </p>

<h2> <%="J- " + "#{@project.remaining_time}" %></h2>

<% @project.in_progress_statut? %>
<% @project.in_progress_amount? %>
<% @project.donation_targeted %>

<%= link_to "Contribuer", new_donation_path(project_id: params[:id]) , class: "btn btn-secondary", method: "get" %>
<i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>