

<div class="card" >

  <ul class="list-group list-group-flush">

    <li class="list-group-item bg-light">
      <h4 class="card-title"><%= title %></h4>
    </li>

    <li class="list-group-item">
       <%= yield %> 
    </li>

  </ul>
  
</div> <br/>