<div class="card">
	<ul class="list-group list-group-flush">
		<li id="link-list" class="list-group-item text-justify">
			<% organization.organization_links.each do |link| %>
				<p id="link_<%= link.id %>"><%= link_to "#{link.url_name}", link.url_organization, :target => "_blank" %>
					<% if organization.is_admin(current_user) %>
						, <%= link_to "Supprimer ce lien", organization_link_path(id: link.id, organization_id: organization.id), method: :delete, remote: true %>
					<% end %>					
				</p>
			<% end %>
		</li>
	</ul>
</div>