<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://zupimages.net/up/19/49/avto.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Informations utilisateurs</h2>
        <h3><p class="card-text">Nom : <%= @current_user.first_name %></p></h3>
        <h3><p class="card-text">Prénom : <%= @current_user.last_name %></p></h3>
        <br>
        <h3><p class="card-text">Email : <%= @current_user.email %></p></h3>
        <% if @current_user.city != nil%>
          <h3><p class="card-text">Ville : <%= @current_user.city.city_name %></p></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>


