
  <div class="card" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-justify">
        <%= render partial:'layouts/orga/mol/tag', locals: {taglist: @organization.tag_lists} %>
        <%= render partial:'layouts/orga/mol/follow', locals: {organization: @organization} %>
        <% if @current_organization.is_organization_admin(@user) %>
          <%= render partial:'layouts/orga/mol/new_tag', locals: {organization: @organization} %>
        <% end %>
      </li>
    </ul>
  </div>

