

<ul class="list-group list-group-flush">
  <li class="list-group-item text-justify">
    <%= link_to "Créer une association", new_organization_path(:association => true ), class: "btn btn-outline-secondary btn-lg btn-block"%><br>
    <%= link_to "Créer une entreprise", new_organization_path(:association => false ), class: "btn btn-outline-secondary btn-lg btn-block"%>  
  </li>
</ul>