<div>
	<span class="badge badge-pill badge-primary">Likes: <%= project.likes.count %></span>
	<% unless current_user.nil? %>
	<% if !is_liking?(project) %>
	<%= link_to "", likes_path(project_id: project.id), method: :post, class:"fas fa-heart text-muted  p-1 my-1 mr-3" %>
	<% else %>
	<%= link_to "", like_path(project.id), method: :delete, class:"fas fa-heart" %>
	<% end %>                      
	<% end %>
</div>


