<div class="border-ligth">
	<%= form_with(url: tag_lists_path(organization_id: organization.id), method: :post, remote: true) do |form|%>
		<%= form.collection_select :tag_id, Tag.all, :id, :tag_name, prompt: true %>
		<%= form.submit "Ajouter", class:"btn btn-primary btn-sm" %>
	<% end %>
	Créer un nouveau tag:
	<%= form_tag tags_path(organization_id: organization.id), method: :post  do %>
		<input type="text" name="tag_name" />
		<input type="submit" value="Ajouter" class="btn btn-primary btn-sm"/>
	<% end %>
</div>