<div id="tag-list">
	<% n = 0 %>
	<% taglist.each do |tag| %>
	<span id="tag_<%= tag.id %>" class="badge badge-pill badge-primary">
		<%= Tag.find_by(id: tag.tag_id).tag_name %> 
		<% if Organization.find(tag.organization_id).is_admin(current_user) %>
			<%= link_to "X", tag_list_path(id: tag.id, organization_id: tag.organization_id), method: :delete, remote: true %>
		<% end %>
	</span>
	<% n += 1 %>
	<% end %>
</div>