 <div class="card-footer">
 	<%= link_to "Créer une association", new_organization_path(:association => true ), class: "btn btn-secondary btn-md float-left mr-1"%>
 	<%= link_to "Créer une entreprise", new_organization_path(:association => false ), class: "btn btn-secondary btn-md float-left ml-1"%>
 	<%= link_to "Modifier mon email ou mon mot de passe", edit_user_registration_path , class:"btn btn-primary btn-md float-right"%>
 </div>