<!DOCTYPE html>
<html lang="en">
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Bonjour <%= @user.first_name %>!</h1>
    <p>
      Tu t'es inscrit sur AssoAngels.fr en utilisant l'e-mail suivant : <%= @user.email %>.
      Nous sommes très heureux de t'accueillir parmi notre communauté.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur <%= @url %>!
</body>
</html>