<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial:'layouts/orga/mol/card_user_show'%>
      <br/>
      <%= render partial:'layouts/orga/mol/card_asso'%>
      <br/>
    </div>
  </div>
</div>
</section>

<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial:'layouts/orga/mol/card_firm'%>
    </div>
  </div>
</div>
</section>
