<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <center><%= render partial:'layouts/orga/mol/card_title', locals: {title: "PROJETS EN COURS"} %></center>
          <br>
        </div>
      </div>
      <div class="row">
        <% @projects.each do |project|%>
          <% @project = project %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render partial:'layouts/orga/card_project', locals: {project: @project} %>
          </div>
        <% end %>
      </div>
    </div>
  <div>
</section>
