
<div class="container">
  <div class="card-deck">
     <%= render partial:'layouts/orga/mol/card' %>
     <%= render partial:'layouts/orga/mol/card' %>
     <%= render partial:'layouts/orga/mol/card' %>
  </div>
</div>
