<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render partial:'layouts/orga/mol/card', locals: {project: @project} %> <a> </a>
    </div>
    <div class="col-md-4">
      <%= render partial:'layouts/orga/mol/card', locals: {project: @project} %> <a> </a>
    </div>
  </div>
</div>
