
<!--div class="container">
  <div class="card-deck">
     <%= render partial:'layouts/orga/mol/card', locals: {project: @project} %>
     <%= render partial:'layouts/orga/mol/card', locals: {project: @project} %>
     <%= render partial:'layouts/orga/mol/card', locals: {project: @project} %>
  </div>
</div-->
