<div class="card" >
  <img  src= <%= @organization.logo_url %> alt="...">
  <ul class="list-group list-group-flush">

    <li class="list-group-item bg-light">
      <h4 class="card-title"><%= link_to @organization.name, organization_path(@organization.id)%></h4>
      <p><small><%# link_to organization_name, organization_path(organization_id)%></small></p>
      <p><small><%#= city_name %></small></p>
    </li>

    <li class="list-group-item">

    </li>
  </ul>  
</div> <br/>