<section>
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <div class="card">
        <img src="<%= @project.logo_url%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center"><%= link_to @project.name, project_path(@project.id) %></h5>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
