<footer class="fdb-block footer-large bg-dark">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-4">
        <h3><strong>Association loi 1901</strong></h3>
        <p>Association Sociale
          <br>
          Association Culture et Patrimoine
          <br>
          Association Education
          <br>
          Association Santé
          <br>
          Association Environnement et Biodiversité
          <br>
          Association Solidarité internationale
          <br>
          Association Sport
          <br>
          Association Recherche
          <br>
          Association de Dirigeant d’Entreprise</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong>Fiscalité du don manuel</strong></h3>
        <p>Mécénat d’entreprise<br>
          Sponsoring</p>
        <h3><strong>Entreprise</strong></h3>
        <p>PME – Petite et Moyenne Entreprises
          <br>
          TPE – Très Petite Entreprise
          <br>
          ETI – Entreprise de taille Intermédiaire
          <br>
          RSE – Responsabilité Sociétale des Entreprises</p>
      </div>
      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong>Pourquoi donner ?</strong></h3>
        <p>Se faire connaitre 
          <br>
          Contribuer à l’intérêt général
          <br>
          Exprimer incarner les  valeurs de l’entreprise
          <br>
          Construire des relations avec les acteurs du territoire
          <br>
          Valoriser l’image et la réputation de l’entreprise
          <br>
          Développer de nouvelles relations avec ses partenaires</p>
      </div>
    </div>
  </div>
</footer>
