<p> Titulaire du compte </p> <p> <%= association.name%> </p>
<p> Identifiant du compte - IBAN </p> <p> FR1420041010050500013M02606 </p>

<p> Domiciliation </p> <p> CREDITCOOP SAINT DENIS </p>
<p> Identifiant de la banque - BIC </p> <p> CCOPFRPPXXX </p>
<br/>
