
  <a> Titulaire du compte : </a> <p> <%= association.name%> </p>
  <a> Identifiant du compte : IBAN </a> <p> FR1420041010050500013M02606 </p>
  
  <a> Domiciliation </a> <p> CREDITCOOP SAINT DENIS </p>
  <a> Identifiant de la banque : BIC </a> <p> CCOPFRPPXXX </p>
  <br/>
