/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require froala_blocks
 *= require_tree .
 *= require_self
 */


 /*Style du scrollback button*/

 a#Scroller{
 	padding:10px;
 	text-align:center;
 	position:fixed;
 	right:20px;
 	opacity:1;
 	z-index:99999;
 	transition:all ease-in 0.2s;
 	backface-visibility: hidden;
 	-webkit-backface-visibility: hidden;
 	text-decoration: none;
 }
 a#Scroller:before{ 
 	font-family: "Font Awesome 5 Free";
 	font-weight: 900;
 	content: "\f0aa";
 	font-size: 3em;
 }

 a#Scroller.invisible{
 	bottom:-35px;
 	opacity:0;
 	transition:all ease-in 0.5s;
 }

 a#Scroller.visible{
 	bottom:90px;
 	opacity:1;
 }

/*Fin style du scrollback button*/